.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-item {
	align-items: left;
	width: 65%;
	min-height: 200px;
	max-height: 300px;
	background: #f7f7f7;
	color: #222;
	padding: 24px;
	box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);
}


.parallax {
	background-image: url('mount2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.rasio{
       margin: 0;
}
.ul-ratio{
    display: flex;
    gap: 30px;
    width: 300px;
    height: 90px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
li{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}