.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.card-item {
	text-align: center;
	width: 25%;
	min-height: 200px;
	max-height: 300px;
	background: #f7f7f7;
	color: #222;
	padding: 24px;
	box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);
}

.card-title {
    margin-top: 20px;
	font-size: 18px;
	font-weight: bolder;
    color: black;
    text-decoration: none;
}
.fa-solid{
    margin-top: 60px;
    color: #222;
}
.fa-brands{
    color: #222;
    margin-top: 60px;
    
}
.parallax {
	background-image: url('mount2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
a{
    text-decoration: none;
}